name: Auto Deploy (Universe)

on:
  push:
    branches:
      - dev    # 이 레포의 배포 브랜치

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
	  key: ${{ secrets.SERVER_SSH_KEY }}		 
          script: |
            /opt/app/deploy.sh Universe dev

